page-register {
  .item-md {
    padding: 0px;
  }
  .purplebtn {
    background: blueviolet;
    color: white;
  }
  .signbtn {
    color: blueviolet;
  }
  .signin {
    color: blueviolet;
    font-size: large;
  }
  .already {
    font-size: large;
  } // create account padding top 
  .paddingtop {
    padding-top: 9vh;
  }
  .input-cover {
    position: static;
  }
}
