page-list {
  .shareappbottom {
    bottom: 56px;
    position: initial;
  }
  .card {
    border-radius: 0px !important;
  }
  .shareicon {
    position: absolute;
    right: -7px;
    bottom: -10px;
    font-size: 30px;
    /* border: 1px solid gray; */
    /* border-radius: 50%; */
    padding: 3px;
    color: gray;
  }
  #dealcard .card-header-md {
    padding: 6px;
  }
  .logo {
    width: 90px;
  }
  #largecard {
    position: relative;
    text-align: center;
    height: 125px;
    width: 33vw;
    margin-right: 0px;
    padding: 0px;
    margin-left: 5px;
  }
  .segment-md .segment-button {}
}
