page-profile {
  .label-md[stacked],
  .label-md[floating] {
    margin: 0px;
  }
  .item-md {
    padding-left: 0px;
  }
  .profilename .item-input {
    border-bottom: 1px solid #dedede;
  }
  .profilename ion-icon {
    color: blueviolet;
  }
  .changepassword ion-icon {
    color: blueviolet;
  }
  .whitebackground {
    background: white;
  }
  .item-md ion-icon[item-start]+.item-inner {
    margin-left: 0px;
  } // $num-of-tabs: 3;
  // .slide {
  //   background: white;
  //   width: calc(100% / #{$num-of-tabs});
  //   height: 4px;
  //   position: absolute;
  //   left: 0;
  //   top: calc(100% - 4px);
  //   transition: left 0.3s ease-out;
  // }
  // @mixin tabs {
  //   @for $i from 1 through 3 {
  //     &:nth-of-type(#{$i}) {
  //       &.segment-activated {
  //         ~.slide {
  //           left: calc((100% / #{3}) * #{$i - 1});
  //         }
  //       }
  //     }
  //   }
  // }
  // .segment-button {
  //   border: 0 !important;
  //   @include tabs;
  // }
  .slide-zoom {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .swiper-slide img {
    height: auto;
  }
  .scroll-content {
    padding-bottom: 0px !important;
    margin-top: 90px !important;
  }
}
