page-marketplace {
  #catcards ion-card-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 2px;
    border-radius: 0px;
  }
  #logocol {
    margin: auto;
  }
  .thumbnails {
    border-radius: 50%;
  }
}
