page-share {
  #shareimage {
    margin-top: 14%;
  }
  #earning {
    display: inline-block;
  }
  ion-icon {
    font-size: 35px;
  }
  #shareicon button {
    background: white;
  }
  $background-md-color:white;
  .colortext {
    color: blueviolet;
    font-weight: 500;
  }
}
